@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}
h4 {
  margin: 0px;
}

i{
  font-size: 40px;
}
.container {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 80vh;
  background-color: rgb(255, 223, 238, 0.4);
  border-radius: 20px;
  box-shadow: 2px 4px 8px 0px rgba(24, 128, 248, 0.568);
}

#musicPlayer{
  margin: auto;
  display: contents;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.musicPlayerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  align-items: center;
  padding: 20px;
}

.musicPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px
}
.playerThumbnail {
  width: 60%;
  border-radius: 20px;
}
.progressBar {
  position: relative;
  width: 90%;
  height: 5px;
  margin-top: 30px;
  border-radius: 2.5px;
  background-color: rgba(107, 88, 153, 0.767);
}
.progressBarMain {
  position: absolute;
  width: 0%;
  bottom: 0px;
  height: 5px;
  margin-top: 30px;
  border-radius: 2.5px;
  background-color: rgb(38, 146, 218);
}
.btnContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 40%;
}
.btnWrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.playBtn {
  font-size: 45px;
}
.btnWrapper i {
  font-size: 25px;
  color: #15124b80;
  cursor: pointer;
}
.btnWrapper i:hover {
  color:  #130e63d5;
}



.pauseBtn {
  display: none !important;
}

.musicTitle {
  text-align: center;
  margin: 0px;
  padding: 10px;
}
.musicTitle h2 {
  margin: 10px;
  padding: 0px;
  font-size: 25px;
}

.musicTitle h6 {
  margin: 10px;
  padding: 0px;
  font-size: 15px;
}
.musicListWrapper {
  margin: 0px;
  width: 30%;
  height: 80vh;
  overflow-y: auto;
  overflow-x: auto; 
  padding-left: 20px;
  border-left: solid 1px rgba(203, 209, 209, 0.678);
}

#musicList::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
  cursor: pointer;
}
#musicList::-webkit-scrollbar-track {
  background-color: rgb(255, 223, 238, 0.4);
  cursor: pointer;
  /* height: 300px; */
}

#musicList::-webkit-scrollbar-thumb {
  background-color: rgba(75, 14, 42, 0.4);
  height: 30px;
  width: 6px;
  cursor: pointer;
}

.listWrapper {
  display: flex;
  width: 90%;
  padding: 20px 0px;
  border-bottom: solid 1px rgba(203, 209, 209, 0.678);
}

.listThumbnail {
  width: 100px;
  border-radius: 10px;
}

.listTitle {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.listTitle h2 {
  margin-bottom: 10px;
  padding: 0px;
  font-size: 18px;
  color: rgb(149, 155, 155);
  font-weight: 600;
}

.listTitle h6 {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-weight: lighter;
  color: rgb(149, 155, 155);
}
